version: "3.7"

services:
  ts-node-docker:
    container_name: doxerjs
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    volumes:
      - ./src:/home/node/app/src
    env_file:
      - ENV_FILE_NAME
    environment:
      - TZ=Europe/Paris
    command: npm run start
