services:
  ts-node-docker:
    container_name: doxerjs
    build:
      context: .
      dockerfile: Dockerfile
      target: base or production
    env_file:
      - .env
    environment:
      - TZ=Europe/Paris
networks: {}