services:
  ts-node-docker:
    container_name: doxerjs
    build:
      context: .
      dockerfile: Dockerfile
      target: base or production
    environment:
      - TZ=Europe/Paris
      - APP_ENV=
      - APP_DEBUGING=
      - APP_SENTRY=
      - APP_ID=
      - BOT_TOKEN=
      - GUILD_ID=
      - R_OP=
      - R_STAFF=
      - R_MEMBER=
      - TC_SENTRY=
      - TC_DISCORD_SENTRY=
      - W_SSID=
      - W_PASSWORD=
      - VC_CATEGORY=
      - OPEN_WEATHER_API=
      - WEATHER_DEFAULT_CITY=
      - DISCORD_SENTRY_BLACKLIST=
      - SERVICE_NAME=
      - DISCORD_WEBHOOK_URL=
      - SIGNAL_API_HOST=
      - SIGNAL_API_SENDER_NUMBER=
      - SIGNAL_API_RECEIVER=
networks: {}